---
title: Haridusasutusele
layout: default
permalink: edu/
redirect_from:
    - /vtp-2014.htm
    - /vtp.htm
---

<div class="jumbotron" id="gallery" style="background-image:url('{{ site.baseurl }}/media/gallery/itcollege-tripleboot.jpg');">
&nbsp;
</div>

<div style="background-color: rgba(0,0,0,0.7); position: relative; top:-100px; height:100px; display:block;">
    <div class="container" style=" padding-top:2mm; padding-bottom:2mm;">
        <p style="color:white; text-shadow: black 0 0 20px;">
        TalTech IT Kolledži kolmikäivitusega arvutid võimaldavad õpetada nii Ubuntu, macOS'i kui MS Windows'i baasil tarkvaraarendamist ja -haldamist.
        </p>
        <p>
        <!--<a class="btn btn-primary btn-lg" href="http://eepurl.com/bc7eCH" target="_blank" role="button">Võta ka oma asutuses vabavara kasutusele &raquo;</a>-->
        <a class="btn btn-primary btn-lg" href="javascript:document.body.scrollIntoView(false)" role="button">Vabavara kasutuselevõtmiseks palun võta ühendust ALVATALiga &raquo;</a>
        </p>
    </div>
</div>

<div class="container" lang="et">
    <div class="row">
        <div class="col-md-4">
            <h2>Pingviinid Tallinnas</h2>
            <p>
            2014. aasta märtsis alustas Tallinna Haridusamet
            avatud lähtekoodile üle kolimise pilooti.
            Tänaseks on kõikides Tallinna haridusasutustes
            kasutusel LibreOffice.
            Peale kontoritarkvara välja vahetamise proovivad
            Mustamäe Gümnaasium, Mahtra Põhikool, Merivälja Kool,
            Mesimummu lasteaed ning Tammetõru lasteaed
            ka operatsioonisüsteemi vahetust Ubuntu vastu.
            Tallinna haridusasutustele on üleminek ning koolitused tasuta.
            Mujal aitame teil kohaliku omavalitsusega kokkuleppele saada.
            Ülemineku aitavad reaalselt läbi viia Alvatali võrgustikku
            kuuluvad ettevõted.

            </p>
            <p><a class="btn btn-default" href="testimonials/" role="button">Loe mida piloodis osalejad arvavad &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h2>Liitu programmiga</h2>
            <p>
                Ubuntu kasutusele võtmine vajab pisut planeerimist:
                tuleb kaardistada olemasolev riistvara, kasutusel
                olev tarkvara, failivormingud ning töövood.
                Võimalusel tuleb töö viia veebipõhiseks,
                kuna nii saab tööd teha ühtmoodi Windowsi kui Ubuntuga.
                Enne Ubuntu kasutusele peab läbi viima koolitused,
                et üleminek võimalikult vaevatu oleks.
                Kaks-kolm nädalat peale üleminekut teeme teise koolituse,
                et viimasedki takistuskivid üheskoos ületada.
                Käesoleva aasta suveks on Ubuntu paigalduseks end kirja pannud
                juba paljud
                uued asutused, nii et kiirusta enne kui kõik päevad võetud on!
            </p>

            <p><a class="btn btn-default" href="javascript: document.body.scrollIntoView(false);" role="button">Soovin konsultatsiooni &raquo;</a></p>

        </div>

        <div class="col-md-4">
            <h2>Vaba tarkvara</h2>
            <p>
            Tallinna piloodi arvutitesse on paigal&shy;datud Ubuntu 14.04
            koos kerge&shy;kaalulise MATE töölauaga.
            Rakendus&shy;tarkvara seast leiab juba tuttavad
            Mozilla Firefox veebilehitseja,
            Mozilla Thunderbird e-posti kliendi,
            LibreOffice kontoritarkvara,
            ID-kaardi tarkvara,
            Skype suhtlustarkvara,
            VLC meediamängija.
            Ilmselt kasutad juba neid programme ka Windowsi peal,
            mistõttu üleminek on sellevõrra vähem valulisem.
            Pilditöötluseks oleme paigaldanud GIMP ning Inkscape tark&shy;vara&shy;paketid ning
            Pidgin muudesse suhtlus&shy;võrgustikesse ühendumiseks.

            </p>
            <p><a class="btn btn-default" href="software/" role="button">Täpsemalt tarnitavast tarkvarast &raquo;</a></p>
            <p><a class="btn btn-default" href="http://lauri.vosandi.com/2014/10/tallinna-piloodiga-liitumine.html" target="_blank" role="button">Liitumise spikker IT-juhile &raquo;</a></p>
        </div>


    </div>
    <div class="row">

        <div class="col-md-4">
            <h2>Veebipõhine tulevik</h2>
            <p>
            Fakt on see, et arvutid ning tarkvara on pidevas muutumises.
            Tänapäeval on enamik teenuseid pilve kolinud kuna see võimaldab
            teenust arendaval asutusel kõige hõlpsamini teenust sujuvana töös hoida.
            Kasutades veebipõhiseid teenuseid võib kohaliku IT taristu minimaalsena
            hoida ning vähendada tarkvara litsenseerimiskulusid.
            Linuxi põhine operatsioonisüsteem on ratsionaalne valik
            kuna veebipõhised rakendused töötavad ühtemoodi iga arvuti peal.
            Ka meie nägemus tulevikust paberivaba, kus asutused
            saavad asju ajada Interneti vahendusel.
            </p>
            <a class="btn btn-default" href="providers/" role="button">Tutvu teenusepakkujatega &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h2>Ühilduv riistvara</h2>
            <p>
            On teada, et nii mõnegi riistvara komponendiga ei pruugi
            Linux kõige paremini läbi saada.
            Mõnel juhul ei ole riistvara tootja aldis Linuxi tuge pakkuma või
            koguni takistab kolmandal osapoolel tuge luua.
            Teisel juhul riistvara tootja pakub tuge kuid see pole nii
            hea kui mõnes teises operatsioonisüsteemis.
            Seetõttu olemegi kokku pannud juhise kuidas hinnata
            praeguse riistvara tuge ning kolimisel kaasnevaid riistvara vahetuse kulusid.
            </p>
            <p><a class="btn btn-default" href="hardware/" role="button">Riistvarast täpsemalt &raquo;</a></p>

        </div>

        <div class="col-md-4">
            <h2>Oma pilv</h2>
            <p>
            OwnCloud on avatud lähtekoodiga pilvetarkvara mida on võimalik paigaldada
            oma käsutuses olevale IT taristule.
            OwnCloudi abil saate jagada dokumente asutusesiseselt kui ka väljapoole.
            OwnCloud töötab nii Windowsi, Ubuntu, Mac OS X tööjaamade kui ka
            Android ning iPhone nutitelefonidega.
            Tallinna Haridusameti piloodis osalejatele on OwnCloud teenus hinna sees,
            teistel aitame paigaldusega kohalikule riistvarale.
            </p>
            <p><a class="btn btn-default" href="/business/" role="button">Küsi abi meie spetsialistidelt &raquo;</a></p>
            <p><a class="btn btn-default" href="http://lauri.vosandi.com/cfgmgmt/owncloud.html" target="_blank" role="button">Paigalda ise &raquo;</a></p>

        </div>

    </div>

    <div class="row">
        <div class="col-md-4">
          <h2>Automatiseerimine</h2>

          <p>
            Tallinna piloot on võima&shy;likuks saanud auto&shy;matiseerimis&shy;tarkvara
            võidukäigule.
            Praegu on meil võimalik loomulikel põhjustel
            surnud arvuti välja vahetada väga kiirelt.
            Kaughaldustarkvara Puppet abil on võimalik uus arvuti
            töökorda seada vähem kui tunniga, kuid meie ettevõtete insenerid
            töötavad selle nimel, et see aeg viia alla 5 minuti piiri.
            Kohalik IT-tugiisik saab seeläbi nüri adminis&shy;treerimis&shy;töö asemel
            tegeleda asutuse IT-taristu planeerimise ja moderniseerimisega.
          </p>
          <p><a class="btn btn-default" href="/business/" role="button">Küsi abi meie spetsialistidelt &raquo;</a></p>
          <p><a class="btn btn-default" href="http://lauri.vosandi.com/cfgmgmt/tallinna-piloot.html" target="_blank" role="button">Täpsemalt arhitektuurist ning tulevikuplaanidest &raquo;</a></p>
        </div>
    </div>
</div>
